@font-face {
  font-family: 'existencelight';
  src: url('/frontend/fonts/Existence-Light-webfont.eot');
  src: url('/frontend/fonts/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/frontend/fonts/Existence-Light-webfont.woff') format('woff'),
       url('/frontend/fonts/Existence-Light-webfont.ttf') format('truetype'),
       url('/frontend/fonts/Existence-Light-webfont.svg#existencelight') format('svg');
  font-weight: normal;
  font-style: normal;
}