@import "compass/css3/images";
/* This is the place for variables */

/* inuit vars */
$use-grids:         true;

/* color */
$white:                         #FFFFFF;
$dark-gray:                     #757678;
$light-gray:                    #CBCCCA;
$red:                           #D64844;
$green:                         #0D7574;

$background:    $white;

/* Headers */
h1, h2, h3, h4 {
  font-family: "existencelight";
  font-weight: normal;
}

/* Includes */
@import "inuit";
@import "main-layout";
@import "header";
@import "fonts";