@import "compass/css3/images";
/* This is the place for variables */

/* inuit vars */
$use-grids:         true;

/* color */
$background-main:               #ebeae4;
$background-highlighted:        #919191;

/* Includes */
@import "inuit";
@import "main-layout";
